.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/Blue\ Illustrative\ Innovation\ in\ Medicine\ Presentation.jpg'); /* Add your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Full height of the viewport */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
    color: #d9534f; /* Red color for error messages */
}

.register-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
