.register-container {
    background-image: url('../images/Blue Illustrative Innovation in Medicine Presentation.jpg'); /* Update with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the form vertically */
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
